:root {
    /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
    --primary: #2D2D2D;
    /* --primary: #0012B7; */
    --primaryDark: #2D2D2D;
    --primaryLight: #A7A2A9;
    --secondary: #F4F7F5;
    --secondaryLight: #fff;
    --headerColor: #08090A;
    /* --bodyTextColor: #F4F7F5;
    --bodyTextColorWhite: #F4F7F5; */
    --bodyTextColor: var(--primary);
    --bodyTextColorWhite: var(--secondaryLight);
    --footerColor: var:var(--secondary)
    --white: #fff;
    --magpieBlue: #0012B7;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(2.5rem, 3.9vw, 3.0625rem);
    --subHeaderFontSize: clamp(2rem, 2.2vw, 3rem);
    --bodyFontSize: 1.25rem;
    --bodyFontSizeSmall: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(10rem, 10vw, 12.25rem) 1rem clamp(1rem, 4vw, 6rem) 1rem;
}

#hero-video {
  width: 100%;
  object-fit: cover;
}

#magpie-title {
  padding-top: 30vh;
}

#magpie-subtitle {
  padding-top: 6vh;
}

.cs-text-bold{
  font-weight:700;
  /* font-family: 'Ogg'; */
}

body {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
}

img {
  border-radius: 4px;;
}

.full-bleed {
  max-height: 60vh;
  width: 100vw;
  object-fit: cover;
}

.magpie-dot {
  font-size: 120px !important;
  line-height: 45px !important;
  color: var(--magpieBlue) !important;
  padding-bottom: 2rem;
}

*, *:before, *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
}
.cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    /* font-weight: 700; */
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
}

.cs-title {
    font-size: var(--headerFontSize);
    /* font-weight: 900; */
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 4rem 0;
    color: var(--headerColor);
    position: relative;
}

.cs-subtitle {
  font-size: var(--subHeaderFontSize);
  /* font-weight: 900; */
  line-height: 2em;
  text-align: inherit;
  /* max-width: 43.75rem;
  margin: 0 0 4rem 0; */
  color: var(--headerColor);
  position: relative;
  margin: auto;
  padding-top: 2rem;
}

.cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
}

/* Custom Font */
@font-face {
    font-family: 'Ogg';
    src: url('../OGG/Ogg-Light.woff2') format('woff2'),
         url('../OGG/Ogg-Light.woff') format('woff'),
         url('../OGG/Ogg-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Ogg';
    font-weight: normal;
}
/*-- -------------------------- -->
<---           artists-intro    -->
<--- -------------------------- -*/
#artists-intro {
  text-align: center;
  padding: var(--sectionPadding);
}

#artists-intro .cs-title {
  max-width: inherit;
  color: var(--magpieBlue);
}
#artists-intro .cs-text {
  max-width: inherit;
  color: var(--primary);
}
#artists-intro .cs-container-div {
  width: 100%;
  /* margin-top: 15%;
  margin-bottom: 15%; */
}

/*-- -------------------------- -->
<---           artists    -->
<--- -------------------------- -*/
#artists {
  text-align: center;
  padding: var(--sectionPadding);
}

#artists .cs-title {
  max-width: inherit;
  color: var(--magpieBlue);
}
#artists .cs-text {
  max-width: inherit;
  color: var(--primary);
}
#artists .cs-container-div {
  width: 100%;
  /* margin-top: 15%;
  margin-bottom: 15%; */
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #artists-intro {
      padding: var(--sectionPadding);
      position: relative;
      /* Prevents overflow from the image going off screen */
      overflow: hidden;
  }
  #artists-intro .cs-container {
      width: 100%;
      max-width: 69rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
  }
  #artists-intro .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
  }

  #artists-intro .cs-image-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 16px - 20px */
      gap: clamp(1rem, 1.5vw, 1.25rem);
  }
  #artists-intro .cs-item {
      width: 100%;
      /* height: 100%; */
      aspect-ratio: 1;
      margin: 0;
      position: relative;
      display: block;
  }
  #artists-intro .cs-item:hover .cs-hover-box {
      opacity: 1;
  }
  #artists-intro .cs-item:hover .cs-icon {
      /* return to original position */
      transform: rotateY(0);
  }
  #artists-intro .cs-item:hover .cs-h3 {
      opacity: 1;
      /* Return to original position */
      transform: translateY(0);
  }
  #artists-intro .cs-item:hover .cs-hover-box-text {
      opacity: 1;
      /* Return to original position */
      transform: translateY(0);
  }
  #artists-intro .cs-picture {
      margin: auto;
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
  }
  #artists-intro .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
  #artists-intro .cs-hover-box {
      text-align: center;
      width: 100%;
      height: 100%;
      padding: 1em;
      background-color:hsla(234, 100%, 36%,0.7);
      opacity: 0;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* Prevents padding from contributing to height & width */
      box-sizing: border-box;
      /* Sets stage for 3d transform animation */
      perspective: 700px;
      top: 0;
      left: 0;
      z-index: 10;
      /* prevents mouse from being able to interact with these elements */
      pointer-events: none;
      transition: opacity 0.3s;
  }
  #artists-intro .cs-icon {
      /* 50px - 60px */
      width: clamp(3.125rem, 5vw, 3.75rem);
      height: clamp(3.125rem, 5vw, 3.75rem);
      /* 16px - 32px */
      margin-bottom: clamp(1rem, 5vw, 2rem);
      border-radius: 50%;
      background-color: #fff;
      outline: 0.5rem solid rgba(255, 255, 255, 0.7);
      /* Start with the icon box rotated 90deg */
      transform: rotateY(90deg);
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex: none;
      transition: transform 0.5s;
  }
  #artists-intro .cs-icon img {
      width: 1.25rem;
      height: 1.25rem;
  }
  #artists-intro .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0 auto;
      max-width: 16.875rem;
      color: #fff;
      /* make starting position down 10px and invisible */
      opacity: 0;
      transform: translateY(0.625rem);
      margin-bottom: 0.5rem;
      transition:
          opacity 0.3s,
          transform 0.3s ease-out;
      transition-delay: 0.1s;
  }
  #artists-intro .cs-hover-box-text {
      /* 13px - 16px */
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      margin: 0 auto;
      max-width: 16.875rem;
      color: #fff;
      /* make starting position down 10px and invisible */
      opacity: 0;
      transform: translateY(0.625rem);
      transition:
          opacity 0.3s,
          transform 0.3s ease-out;
      transition-delay: 0.2s;
  }
}
/* In Between - 600px */
@media only screen and (min-width: 37.5rem) {
  #artists-intro .cs-image-group {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1fr;
  }
  #artists-intro .cs-item {
      grid-column: span 6;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #artists-intro .cs-item {
      grid-column: span 4;
  }
}



/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #home {
        /* Centers button */
        text-align: center;
        /* 144px - 300px - leaving extra space for the navigation */
        /* padding: clamp(9rem, 25.95vw, 18.75rem) 1rem 0; */
        /* 130px - 200px */
        /* padding-bottom: clamp(4.125rem, 8vw, 25em); */
        position: relative;
        z-index: 1;
        height: 100vh;
    }
    #home .cs-background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
    }
    #home .cs-background:before {
        /* Overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.7;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 1;
        /* prevents the cursor from interacting with it */
        pointer-events: none;
    }
    #home .cs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #home .cs-container {
        width: 100%;
        max-width: 67.5rem;
        margin: auto;
    }
    #home .cs-title {
        /* 39px - 61px */
        font-size: clamp(6rem, 18vw, 15rem);
        /* font-weight: 700; */
        line-height: 1.2em;
        text-align: center;
        max-width: 51.8125rem;
        /* 16px - 24px */
        margin: 0 auto clamp(1rem, 4vw, 3rem);
        color: #fff;
        position: relative;
    }
    #home .cs-text {
        /* 16px - 25px */
        font-size: clamp(1.5rem, 3vw, 6rem);
        line-height: 1.5em;
        text-align: center;
        width: 100%;
        /* 464px - 800px */
        max-width: clamp(29rem, 60vw, 50rem);
        margin: 0 auto;
        /* 40px - 48px */
        margin-bottom: clamp(3rem, 5vw, 6rem);
        color: #fff;
    }
    #home .cs-button-solid {
        font-size: 1rem;
        line-height: 3.5rem;
        text-decoration: none;
        /* font-weight: 700; */
        margin: auto;
        color: #fff;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
    }
    #home .cs-button-solid:before {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 0%;
        background: var(--magpieBlue);
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #home .cs-button-solid:hover:before {
        width: 100%;
    }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-footer-269 {
        /* 60px - 100px top and bottom */
        padding: clamp(2.75rem, 3vw, 6.25rem) 1rem;
        /* padding-top: clamp(2.75rem, 3%, 6.25rem);
        padding-left: clamp(2.75rem, 3%, 6.25rem);
        padding-right: clamp(2.75rem, 3%, 6.25rem); */
        background-color: var(--primary);
        /* Navigation Links */
        /* Contact Links */
    }
    #cs-footer-269 .cs-container {
        width: 96%;
        /* reset on tablet */
        /* max-width: 34.375rem; */
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        /* 68px - 100px */
        column-gap: clamp(4.25rem, calc(10%), 6.25rem);
    }
    #cs-footer-269 .cs-logo-group {
        /* takes up all the space, lets the other ul's wrap below it */
        width: 100%;
        position: relative;
    }
    #cs-footer-269 .cs-logo {
        /* 210px - 240px */
        width: clamp(13.125rem, 8vw, 15rem);
        height: auto;
        display: block;
        /* 28px - 44px */
        margin-bottom: clamp(1rem, 1vw, 2.75rem);
    }
    #cs-footer-269 .cs-logo-img {
        width: 30%;
        height: auto;
    }
    #cs-footer-269 .cs-text {
        /* 14px - 16px */
        font-size: var(--bodyFontSizeSmall);
        line-height: 1.5em;
        margin: 0;
        margin-bottom: 2rem;
        /* changes to 305px at desktop */
        max-width: 33.75rem;
        color: var(--secondary);
    }
    #cs-footer-269 .cs-nav {
        padding: 0;
        margin: 0;
    }
    #cs-footer-269 .cs-nav-li {
        list-style: none;
        line-height: 1.5em;
        margin-bottom: 0.5rem;
    }
    #cs-footer-269 .cs-nav-li:last-of-type {
        margin-bottom: 0;
    }
    #cs-footer-269 .cs-header {
        font-size: 1rem;
        line-height: 1.5em;
        font-weight: 700;
        margin-bottom: 0.875rem;
        color: var(--secondary);
        position: relative;
        display: block;
    }
    #cs-footer-269 .cs-nav-link {
        font-size: 1rem;
        text-decoration: none;
        line-height: 1.5em;
        color: var(--secondary);
        position: relative;
    }
    #cs-footer-269 .cs-nav-link:before {
        /* underline */
        content: "";
        width: 0%;
        height: 0.125rem;
        /* current color of the parent */
        background: currentColor;
        opacity: 1;
        position: absolute;
        display: block;
        bottom: -0.125rem;
        left: 0;
        transition: width 0.3s;
    }
    #cs-footer-269 .cs-nav-link:hover:before {
        width: 100%;
    }
    #cs-footer-269 .cs-contact {
        margin: 0;
        padding: 0;
        width: auto;
        display: flex;
        flex-direction: column;
        align-self: stretch;
    }
    #cs-footer-269 .cs-contact-li {
        list-style: none;
        margin-bottom: 0rem;
    }
    #cs-footer-269 .cs-contact-li:last-of-type {
        margin-bottom: 0;
    }
    #cs-footer-269 .cs-contact-link {
        font-size: var(--bodyFontSizeSmall);
        text-decoration: none;
        line-height: 1.5em;
        text-align: left;
        color: var(--secondary);
        display: inline-block;
    }
    #cs-footer-269 .cs-contact-link:hover {
        text-decoration:underline;
    }
    #cs-footer-269 .cs-address {
        font-size: 1rem;
        margin-bottom: 1.25rem;
    }
    #cs-footer-269 .cs-social-group {
        /* pushes away from the other flex items */
        margin-top: auto;
        margin-left: auto;
    }
    #cs-footer-269 .cs-social {
        display: inline-flex;
        justify-content: flex-start;
        gap: 0.75rem;
    }
    #home .cs-social-link {
        width: 1.5rem;
        height: 1.5rem;
        background-color: var(--primary);
        border-radius: 50%;
        /* display: flex; */
        justify-content: center;
        /* align-items: center;
        position: relative; */
        z-index: 1;
        transition:
            transform 0.3s,
            background-color 0.3s;
    }
    #home .cs-social-link:hover {
        background-color: var(--magpieBlue);
        transform: translateY(-0.1875rem);
    }
    #cs-footer-269 .cs-social-img {
        height: 0.8125rem;
        width: auto;
        display: block;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-footer-269 .cs-container {
        max-width: 96%;
        row-gap: 0;
    }
    #cs-footer-269 .cs-logo-group {
        width: 30%;
        /* pushes everything to the right of it as far as possible in a flexbox */
        margin-right: auto;
    }
    #cs-footer-269 .cs-text {
        width: 80%;
        max-width: 19.0625rem;
        margin: 0;
    }
    #cs-footer-269 .cs-nav,
    #cs-footer-269 .cs-contact {
        /* 8px - 12px */
        margin-top: clamp(0.5rem, 1.2vw, 0.75rem);
    }
}
/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/
/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    body.cs-open {
      overflow: hidden;
    }
    #cs-navigation {
      width: 100%;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      padding: 0.75rem 1rem;
      background-color: #fff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      position: fixed;
      z-index: 10000;
    }
    #cs-navigation:before {
      content: "";
      width: 100%;
      height: 0vh;
      background: rgba(0, 0, 0, 0.6);
      opacity: 0;
      display: block;
      position: absolute;
      top: 100%;
      right: 0;
      z-index: -1100;
      transition: height 0.5s, opacity 0.5s;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
    #cs-navigation.cs-active:before {
      height: 150vh;
      opacity: 1;
    }
    #cs-navigation.cs-active .cs-ul-wrapper {
      opacity: 1;
      transform: scaleY(1);
      transition-delay: 0.15s;
    }
    #cs-navigation.cs-active .cs-li {
      opacity: 1;
      transform: translateY(0);
    }
    #cs-navigation .cs-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    #cs-navigation .cs-logo {
      /* width: 40%; */
      max-width: 9.125rem;
      height: 100%;
      margin: 0 auto 0 0;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
    #cs-navigation .cs-logo img {
      width: 70%;
      height: 100%;
      /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
      object-fit: contain;
    }
    #cs-navigation .cs-toggle {
      /* 44px - 48px */
      width: clamp(2.75rem, 6vw, 3rem);
      height: clamp(2.75rem, 6vw, 3rem);
      margin: 0 0 0 auto;
      background-color: transparent;
      border: none;
      border-radius: 0.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #cs-navigation .cs-active .cs-line1 {
      top: 50%;
      transform: translate(-50%, -50%) rotate(225deg);
    }
    #cs-navigation .cs-active .cs-line2 {
      top: 50%;
      transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
      transform-origin: center;
    }
    #cs-navigation .cs-active .cs-line3 {
      opacity: 0;
      bottom: 100%;
    }
    #cs-navigation .cs-box {
      /* 24px - 28px */
      width: clamp(1.5rem, 2vw, 1.75rem);
      /* 14px - 16px */
      height: clamp(0.875rem, 1.5vw, 1rem);
      position: relative;
    }
    #cs-navigation .cs-line {
      width: 100%;
      height: 2px;
      background-color: #1a1a1a;
      border-radius: 2px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    #cs-navigation .cs-line1 {
      top: 0;
      transition: transform 0.5s, top 0.3s, left 0.3s;
      animation-duration: 0.7s;
      animation-timing-function: ease;
      animation-direction: normal;
      animation-fill-mode: forwards;
      transform-origin: center;
    }
    #cs-navigation .cs-line2 {
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      transition: top 0.3s, left 0.3s, transform 0.5s;
      animation-duration: 0.7s;
      animation-timing-function: ease;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }
    #cs-navigation .cs-line3 {
      bottom: 0;
      transition: bottom 0.3s, opacity 0.3s;
    }
    #cs-navigation .cs-ul-wrapper {
      width: 100%;
      height: auto;
      padding-bottom: 2.4em;
      background-color: #fff;
      box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: -1;
      overflow: hidden;
      transform: scaleY(0);
      transition: transform 0.4s, opacity 0.3s;
      transform-origin: top;
    }
    #cs-navigation .cs-ul {
      width: 100%;
      height: auto;
      max-height: 65vh;
      margin: 0;
      padding: 3rem 0 0 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 1.25rem;
      overflow: scroll;
    }
    #cs-navigation .cs-li {
      text-align: center;
      list-style: none;
      width: 100%;
      margin-right: 0;
      opacity: 0;
      /* transition from these values */
      transform: translateY(-4.375rem);
      transition: transform 0.6s, opacity 0.9s;
    }
    #cs-navigation .cs-li:nth-of-type(1) {
      transition-delay: 0.05s;
    }
    #cs-navigation .cs-li:nth-of-type(2) {
      transition-delay: 0.1s;
    }
    #cs-navigation .cs-li:nth-of-type(3) {
      transition-delay: 0.15s;
    }
    #cs-navigation .cs-li:nth-of-type(4) {
      transition-delay: 0.2s;
    }
    #cs-navigation .cs-li:nth-of-type(5) {
      transition-delay: 0.25s;
    }
    #cs-navigation .cs-li:nth-of-type(6) {
      transition-delay: 0.3s;
    }
    #cs-navigation .cs-li:nth-of-type(7) {
      transition-delay: 0.35s;
    }
    #cs-navigation .cs-li:nth-of-type(8) {
      transition-delay: 0.4s;
    }
    #cs-navigation .cs-li:nth-of-type(9) {
      transition-delay: 0.45s;
    }
    #cs-navigation .cs-li:nth-of-type(10) {
      transition-delay: 0.5s;
    }
    #cs-navigation .cs-li:nth-of-type(11) {
      transition-delay: 0.55s;
    }
    #cs-navigation .cs-li:nth-of-type(12) {
      transition-delay: 0.6s;
    }
    #cs-navigation .cs-li:nth-of-type(13) {
      transition-delay: 0.65s;
    }
    #cs-navigation .cs-li-link {
      /* 16px - 24px */
      font-size: clamp(1rem, 2.5vw, 1.5rem);
      line-height: 1.2em;
      text-decoration: none;
      margin: 0;
      color: var(--headerColor);
      display: inline-block;
      position: relative;
    }
    #cs-navigation .cs-li-link:before {
      /* active state underline */
      content: "";
      width: 100%;
      height: 1px;
      background: currentColor;
      opacity: 1;
      display: none;
      position: absolute;
      bottom: -0.125rem;
      left: 0;
    }
    #cs-navigation .cs-li-link.cs-active:before {
      display: block;
    }
    #cs-navigation .cs-button-solid {
      display: none;
    }
  }
  /*-- -------------------------- -->
  <---     Desktop Navigation     -->
  <--- -------------------------- -*/
  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #cs-navigation {
      width: 100%;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      padding: 0 1rem;
      background-color: #fff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      position: fixed;
      z-index: 10000;
    }
    #cs-navigation .cs-container {
      width: 96%;
      /* max-width: 80rem; */
      margin: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1.5rem;
    }
    #cs-navigation .cs-toggle {
      display: none;
    }
    #cs-navigation .cs-logo {
      /* width: 18.4%; */
      max-width: 21.875rem;
      height: 4.0625rem;
      /* margin-right auto pushes everything away from it to the right */
      margin: 0 auto 0 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 100;
    }
    #cs-navigation .cs-logo img {
      width: 100%;
      height: 100%;
      /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
      object-fit: contain;
    }
    #cs-navigation .cs-ul {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      /* 20px - 36px */
      gap: clamp(1.25rem, 2.6vw, 2.25rem);
    }
    #cs-navigation .cs-li {
      list-style: none;
      padding: 2rem 0;
      /* prevent flexbox from squishing it */
      flex: none;
    }
    #cs-navigation .cs-li-link {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1vw, 1rem);
      line-height: 1.5em;
      text-decoration: none;
      margin: 0;
      color: var(--bodyTextColor);
      display: block;
      position: relative;
    }
    #cs-navigation .cs-li-link:hover:before {
      width: 100%;
    }
    #cs-navigation .cs-li-link.cs-active:before {
      width: 100%;
    }
    #cs-navigation .cs-li-link:before {
      /* active state underline */
      content: "";
      width: 0%;
      height: 2px;
      background: var(--magpieBlue);
      opacity: 1;
      display: block;
      position: absolute;
      bottom: 0rem;
      left: 0;
      transition: width 0.3s;
    }
    #cs-navigation .cs-button-solid {
      font-size: 1rem;
      font-weight: 700;
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-align: center;
      text-decoration: none;
      min-width: 9.375rem;
      margin: 0;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      padding: 0 1.5rem;
      color: #fff;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
    }
    #cs-navigation .cs-button-solid:before {
      content: "";
      width: 0%;
      height: 100%;
      background: var(--magpieBlue);
      opacity: 1;
      border-radius: 0.25rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }
    #cs-navigation .cs-button-solid:hover:before {
      width: 100%;
    }
  }

/*-- -------------------------- -->
<---       Contact Form         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  @keyframes scaleFade {
      0% {
          transform: translate(-50%, -50%) scale(0);
      }
      50% {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1.4);
      }
      100% {
          transform: translate(-50%, -50%) scale(1.7);
          opacity: 0;
      }
  }
  #inquiries {
      padding: var(--sectionPadding);
  }
  #inquiries .cs-container {
      width: 100%;
      /* max-width: 80rem; */
      /* margin: 15% 0%; */
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
  }
  #inquiries .cs-content {
      /* set text aling to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
  }
  #inquiries .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: 0.1em;
      font-weight: 700;
      color: var(--magpieBlue);
      margin-bottom: 0.25rem;
      display: block;
  }
  #inquiries .cs-title {
      font-size: var(--headerFontSize);
      /* font-weight: 900; */
      line-height: 1.2em;
      text-align: inherit;
      /* max width of 24 characters including spaces */
      max-width: 24ch;
      /* margin: 0 0 1rem 0; */
      color: var(--magpieBlue);
      position: relative;
  }
  #inquiries .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      max-width: 40.625rem;
      margin: 0;
      color: var(--bodyTextColor);
  }
  #map .cs-background {
      width: 66.5rem;
      max-width: 100%;
      height: 19.5rem;
      display: block;
      position: relative;
  }

  #map .cs-container {
    width: 100%;
    max-width: 67.5rem;
    margin: auto;

  }
  #map .cs-background:before {
      /* yellow dot */
      content: "";
      width: 1.125rem;
      height: 1.125rem;
      background: var(--magpieBlue);
      border-radius: 50%;
      opacity: 1;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
  }
  #map .cs-background:after {
      /* yellow animated ring */
      content: "";
      width: 1.125rem;
      height: 1.125rem;
      background: transparent;
      border-radius: 50%;
      border: 1px solid var(--magpieBlue);
      opacity: 1;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      z-index: 10;
      transition:
          transform 0.4s,
          opacity 0.4s;
      animation-name: scaleFade;
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
  }
  #map .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
  @media only screen and (min-width: 48rem) {
    #map .cs-background {
        /* 310px - 568px */
        height: clamp(19.375rem, 43vw, 35.5rem);
    }
  }
  #inquiries .cs-form {
      width: 100%;
      max-width: 66.5rem;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
  }
  #inquiries .cs-label {
      /* 16px - 20px */
      /* font-size: clamp(1rem, 2vw, 1.25rem); */
      line-height: 1.5em;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.75rem;
      position: relative;
  }
  #inquiries .cs-input,
  #inquiries .cs-textarea,
  #inquiries select,
  #inquiries .cs-select {
      /* added options for the select tag in case you add it, that way it will also have the same styles, add the cs-select class for better specificity when targeting it */
      /* 16px - 20px */
      /* font-size: clamp(1rem, 2vw, 1.25rem); */
      font-family: inherit;
      margin: 0;
      /* 24px - 40px */
      padding: 0 clamp(1.5rem, 5vw, 2.5rem) 0;
      width: 100%;
      /* 70px - 90px */
      height: clamp(4.375rem, 7vw, 5.625rem);
      background-color: #f1f1f4;
      /* prevents border and padding from affecting height and width */
      box-sizing: border-box;
      border: 2px solid transparent;
      display: block;
      position: relative;
      transition: border-color 0.3s;
      border-radius: 4px;
  }
  #inquiries .cs-input:hover,
  #inquiries .cs-textarea:hover,
  #inquiries select:hover,
  #inquiries .cs-select:hover,
  #inquiries .cs-input:focus,
  #inquiries .cs-textarea:focus,
  #inquiries select:focus,
  #inquiries .cs-select:focus {
      /* focus has a black outline, we override it here */
      outline: none;
      border-color: var(--magpieBlue);
  }
  #inquiries .cs-textarea {
      width: 100%;
      margin: 0;
      padding-top: 1rem;
      /* changes at tablet */
      min-height: 12.5rem;
  }
  #inquiries .cs-icon {
      width: 1.875rem;
      height: auto;
      position: absolute;
      /* 24px - 40px, matches the padding left and right of input */
      right: clamp(1.5rem, 5vw, 2.5rem);
      /* these two center the icon inside the label */
      bottom: 50%;
      transform: translateY(115%);
  }
  #inquiries .cs-submit {
      /* 20px - 25px */
      font-size: var(--topperFontSize);
      /* 56px - 84px */
      line-height: 90px;
      text-decoration: none;
      /* font-weight: 700; */
      text-align: center;
      /* 28px - 44px, minus the gap value. Should be 48px - 64px, but with a 20px gap on the flexbox, we account for that space when adding our margin top value so its 48px - 64px */
      margin: clamp(1.75rem, 20vw, 2.75rem) auto;
      color: var(--bodyTextColorWhite);
      border: none;
      /* 150px - 234px */
      /* min-width: clamp(9.374rem, 18vw, 14.625rem); */
      width: 90px;
      height: 90px;
      padding: 0;
      background-color: var(--secondaryLight);
      border-radius: 50%;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      transition: color 0.3s;
      border-color: var(--magpieBlue);
      border-style: solid;
      border-width: 2px;
      color: var(--magpieBlue);
  }
  #inquiries .cs-submit:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: var(--magpieBlue);
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 50%;
      /* transition: 0.3s; */
  }
  #inquiries .cs-submit:hover {
      color: var(--bodyTextColorWhite);
      cursor: pointer;
  }
  #inquiries .cs-submit:hover:before {
      width: 100%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #inquiries .cs-form {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  #inquiries .cs-label {
      width: 48%;
  }
  #inquiries .cs-textarea-label {
      width: 100%;
  }
  #inquiries .cs-textarea {
      /* 280px - 358px */
      min-height: clamp(12rem, 16vw, 20rem);
  }
}
